*{
    margin: 0;
    padding: 0;
}



.display-box{
    background-color: gray;
    color: white;
    text-align: center;
}

.table-header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    background-color: darkslategray;
    font-weight: bold;
}

.table-col{
    border: 1px solid black;
    
}

.table-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    background-color: darkcyan;
}

/* .table-row:hover{
    background-color: slateblue!important;
} */

.table-row-selected{
    background-color: blue!important;
}

.table-cell{
    border: 1px solid black;
}

