*{
    margin: 0;
    padding: 0;
    /* remove text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



.display-box{
    background-color: gray;
    color: white;
    text-align: center;
}

.add-new-button-div{
    text-align: center;
    justify-content: center;
}

.add-new-button-div > button{
    background-color: #38bdf8;
    border-style: none;
}

.add-new-button-div > button:hover{
    background-color: #0c4a6e;
}

.add-new-button-div > button:focus{
    background-color: #0c4a6e;
}





.table-header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    background-color: darkslategray;
    font-weight: bold;
}



.table-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-weight: bold;
    background-color: #38bdf8;
}

/* .table-row:hover{
    background-color: slateblue!important;
} */

.table-row-selected{
    background-color: #0c4a6e!important;
    
}



 